*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#4c4c4c;
}

.app{
    height:100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.workout_config,
.workout,
.sound_config{
    height:100%;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.workout_config{
    background-color:#ffe3df;
}

.workout {
    background-color: white;
    flex-grow: 2;
}

.sound_config{
    background-color:#fff3e6;
}

/*Left section*/
button{
  padding:15px 25px;
  border-radius:30px;
  background:rgb(199, 22, 31, 0.4);
  border: 0;
  color:white;
  box-shadow: 0px 5px 5px 0px rgba(76,76,76,0.2);
  text-transform: uppercase;
  font-weight: bold;
  font-size:12px;
  text-shadow: 1px 1px 2px rgba(76,76,76,0.6);
}

button:hover{
  background-color:#c7161f;
  box-shadow: 0px 0px 25px 4px rgba(110, 110, 110, 0.1);
  transition: all 0.5s ease;
}

button.active{
  background-color:#c7161f;
}

button:disabled{
  background: darkgrey;
}

/*Middle section*/
/*Progress bar*/
.progressbar-cont{
  width: 90%;
}

.progressbar-cont span{
  float:right
}

.progressbar {
  position: relative;
  height: 20px;
  border-radius: 1000px;
  background-color: #484848;
  clip-path: inset(0 0 0 0 round 1000px);
}

.progressbar_value {
  height: 20px;
  transition: width 0.4s ease-in-out;
  border-radius: 1000px 0 0 1000px;
  background-color: #E45825;
  will-change: width;
}

/*Timer*/
.time-display{
    color: #c7161f;
    font-size:40px;
    text-align:center;
}

/*Workouts*/
.current-workout{
  height:0%;
  overflow:hidden;
  -webkit-transition: all 1s ease 0.5s;
  -moz-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

/* Get ready section */
.get-ready-cont{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Countdown to start circle */
.cont-countdown-circle{
  position:relative;
  top:25%;
  left:25%;
  width: 150px;
  height:150px;
  display:none;
}

.cont-countdown-circle div{
  position:absolute;
  width: 65%;
  height:65%;
}

.countdown-b-circle-outer{
  border-radius:100%;
  border:5px solid;
}

.countdown-b-circle-start {
  border-color:transparent #ecd201 #ecd201 #ecd201;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.countdown-circle {
  animation: rotation 1s infinite linear,
  colorchange 7s infinite linear;
}

.countdownCont{
  text-align: center;
  top:20%;
  animation: countdowntrans 1s infinite linear;
}

@keyframes rotation{
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}

@keyframes colorchange{
  0%   {border-color:transparent #ecd201 #ecd201 #ecd201;}
  20%  {border-color:transparent #ec0101 #ec0101 #ec0101;}
  60%  {border-color:transparent #016fec #016fec #016fec;}
  80% {border-color:transparent #01ec5f #01ec5f #01ec5f;}
  100% {border-color:transparent transparent transparent transparent;}
}

@keyframes countdowntrans{
  from {font-size:40px; opacity:0;}
  to   {font-size:20px; opacity:1;}
}

/* Gifs */
.current-workout-img img{
  height:200px;
  width: 100%;
  max-width: 500px;
}

/*Play button*/
.play-btn {
    background:#E45825;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 3px rgba(255, 128, 82, 0.8);
    color:white;
    border: 6px solid white;
    padding:20px;
    text-decoration:none;
    font-size:20px;
    -webkit-transition: all 1s ease 0.5s;
    -moz-transition: all 1s ease 0.5s;
    -o-transition: all 1s ease 0.5s;
    transition: all 1s ease 0.5s;
  }

.play-btn-on-pause {
    font-weight: bolder;
    border-radius:10px;
    padding:10px 20px;
    margin:auto;
}

/* btn hover */
.play-btn:hover{
    box-shadow: 0px 0px 50px 3px rgba(255, 97, 40, 0.8);
    background: #E45825;
}

/*Right section */
.btn-image-sound{
  width: 80px;
  height: 80px;
  padding: 5px;
  overflow: hidden;
  border-radius:50%;
}

.btn-image-sound:hover{
  background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 3px),
  rgba(0,0,0,1) 50%,rgba(0,0,0,0) calc(50% + 3px), rgba(0,0,0,0) 100%);
}

.btn-image-sound img{
  opacity: 0.6;
  width:200%;
  position: relative;
  bottom: 50%;
  right:50%;
}

.btn-image-sound-muted{
  background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 3px),
  rgba(0,0,0,1) 50%,rgba(0,0,0,0) calc(50% + 3px), rgba(0,0,0,0) 100%);
}

.btn-image-sound-muted:hover{
  background: transparent;
}

/*Card*/
.card{
  background:#ffe3df;
  padding:20px;
  margin:20px;
}

.card p, .card ul{
  font-size:14px;
  margin: 20px 10px;
}

.card ul li{
  margin:10px 
}

/* For smaller screens */
@media only screen and (max-width: 900px) {
  .app{
    flex-direction: column;
    align-items: inherit;
    justify-content: flex-start;
  }

  .workout_config{
    flex-direction: row;
  }

  .workout_config, .workout, .sound_config{
    padding:15px
  }

  .workout{
    flex-basis: auto;
  }

  .time-display{
    font-size:26px
  }

  .progressbar-cont span{
    font-size: 12px;
  }

  .progressbar, .progressbar_value{
    height:16px
  }

  .cont-countdown-circle{
    width:120px;
    height:120px;
    left:30%;
  }

  h3{
    font-size:14px
  }

  .countdownCont span{
    font-size:26px
  }

  .current-workout-img img{
    max-width: 340px;
  }

  .current-workout-img{
    margin-bottom: 100px;
  }

  button{
    padding:10px 20px;
    font-size:10px;
  }

  .btn-image-sound{
    width: 65px;
    height:65px;
  }
}